#welcome.grid960
  
  .jeff_for_carlos_main
    %h1 
      jeff <3 carlos
      
  .sub_container.push_3
    %h3
      bar
  .sub_container
    %p
      A mofo para G
  .sub_container
    %a{:href=>'https://google.com'}
      Click for Googlz

  
  .grid_8.push_2.centered
    .concrats
  
  .clear
  .right
    =link_to "click me fo", "", :class => "enable_highlight_link"
 
    
=link_to "click me too", "", :class => "come_here_ya_little_shit"

