!!!
%html
  %head
    %title 
      Samtom

  = stylesheet_link_tag    'layout', media: 'all', 'data-turbolinks-track' => true 
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  = csrf_meta_tags 

  %body
    = yield
    

